<h1 class="page-header">Setup <small>Set the max values for each element.</small></h1>

<div>
	<form class="settings form-horizontal" autocomplete="off" method="get" action="/go" onsubmit="execute();return false;">

		<div class="row">
			<div class="col-sm-6">
				<div class="form-group">
					<label for="UserName" class="col-sm-6 control-label">Admin Username</label>
					<div class="col-sm-6"><input type="text" class="form-control" id="UserName" name="UserName" value="<%= params['UserName'] || '' %>" /></div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="form-group">
					<label for="UserKey" class="col-sm-6 control-label">Admin API Key</label>
					<div class="col-sm-6"><input type="text" class="form-control" id="UserKey" name="UserKey" value="<%= params['UserKey'] || '' %>" /></div>
				</div>
			</div>
		</div>

		<hr />

		<div class="row">
			<div class="col-sm-6">
				<div class="form-group">
					<label for="PublisherCount" class="col-sm-6 control-label">Number of Publishers (1 - 20)</label>
					<div class="col-sm-6"><input type="number" min="1" max="20" class="form-control" id="PublisherCount" name="PublisherCount" value="<%= params['PublisherCount'] || 5 %>"/></div>
				</div>
				<div class="form-group">
					<label for="BUCount" class="col-sm-6 control-label">Number of Business Units (1 - 50)</label>
					<div class="col-sm-6"><input type="number" min="1" max="50" class="form-control" id="BUCount" name="BUCount" value="<%= params['BUCount'] || 3 %>"/></div>
				</div>
				<div class="form-group">
					<label for="LanguageCount" class="col-sm-6 control-label">Number of Languages (1 - 10)</label>
					<div class="col-sm-6"><input type="number" min="1" max="10" class="form-control" id="LanguageCount" name="LanguageCount" value="<%= params['LanguageCount'] || 5 %>"/></div>
				</div>
				<div class="form-group">
					<label for="UserCount" class="col-sm-6 control-label">Number of Authors (1 - 500)</label>
					<div class="col-sm-6"><input type="number" min="1" max="500" class="form-control" id="UserCount" name="UserCount" value="<%= params['UserCount'] || 25 %>"/></div>
				</div>
				<div class="form-group">
					<label for="CategoryCount" class="col-sm-6 control-label">Number of Categories (0 - 100)</label>
					<div class="col-sm-6"><input type="number" min="0" max="100" class="form-control" id="CategoryCount" name="CategoryCount" value="<%= params['CategoryCount'] || 5 %>"/></div>
				</div>
			</div>

			<div class="col-sm-6">
				<div class="form-group">
					<label for="ProjectCount" class="col-sm-6 control-label">Number of Projects (0 - 50)</label>
					<div class="col-sm-6"><input type="number" min="0" max="50" class="form-control" id="ProjectCount" name="ProjectCount" value="<%= params['ProjectCount'] || 5 %>"/></div>
				</div>
				<div class="form-group">
					<label for="ContentCount" class="col-sm-6 control-label">Number of Content Assets (1 - 10000)</label>
					<div class="col-sm-6"><input type="number" min="1" max="10000" class="form-control" id="ContentCount" name="ContentCount" value="<%= params['ContentCount'] || 100 %>"/></div>
				</div>
				<div class="form-group">
					<label class="col-sm-6 control-label">Content Types</label>
						<div class="col-sm-6">
							<div class="checkbox"><label><input type="checkbox" disabled="disabled" checked="checked"/> Text Post</label></div>
							<div class="checkbox"><label><input type="checkbox" disabled="disabled" checked="checked"/> Landing Page</label></div>
							<div class="checkbox"><label><input type="checkbox" name="ImagePost" onclick="playToggle()" <%= checked="checked" if params["ImagePost"] == 'on' %>/> Image Post</label></div>
							<div class="checkbox"><label><input type="checkbox" name="VideoPost" onclick="playToggle()" <%= checked="checked" if params["VideoPost"] == 'on' %>/> Video Post</label></div>
							<div class="checkbox"><label><input type="checkbox" name="FilePost" onclick="playToggle()" <%= checked="checked" if params["FilePost"] == 'on' %>/> File Upload</label></div>
						</div>
				</div>
			</div>
		</div>

		<div class="pull-right">
			<button id="save" type="submit" value="create" class="btn btn-lg btn-labeled btn-danger"><i class="fa fa-user-secret"></i> Execute<span class="btn-label btn-label-right"><i class="fa fa-arrow-right"></i></span></button>
		</div>

	</form>
</div>

<!-- Trigger modal -->
<a href="#" class="secret-button" data-toggle="modal" data-target="#secretSettings"></a>

<!-- Modal -->
<div class="modal fade" id="secretSettings" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Secret Settings</h4>
			</div>
			<div class="modal-body">
				<form class="secret-settings form-horizontal">
					<div class="form-group">
						<label for="PublisherDomain" class="col-sm-6 control-label">Publisher Domain</label>
						<div class="col-sm-6"><input type="text" class="form-control" id="PublisherDomain" name="PublisherDomain" value="<%= params['PublisherDomain'] || 'compendiumblog.com' %>"/></div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>